@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ededed;
  color: var(--foreground);
  font-family: var(--font-prime);
}

h1,h4{
    font-family: var(--font-mont);
}